First let's import the python libraries we'll be using:

In [1]:
import pandas as pd
import pandasql as ps
import numpy

C:\Users\emmet\AppData\Local\Temp\ipykernel_7388\2000185122.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Then we'll need to read in the first csv file. We'll call the dataframe 'df_oldstats' since this file contains the data on 2023's trending YouTubers:

In [2]:
df_oldstats = pd.read_csv('datadump/GlobalYTstats.csv')

df_oldstats.head()

,rank,Youtuber,subscribers,video views,Category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In the next few steps, I'll be showing you exactly how many rows & columns of data there are and what rows & columns we can drop in this first dataset; let the data cleansing, commence!

In [3]:
cols = len(df_oldstats.axes[1])
rows = len(df_oldstats.axes[0])
print("Number of columns before cleaning data: ", cols)
print("Number of rows before cleaning data: ", rows)

df_oldstats.columns.values

Number of columns before cleaning data:  28
Number of rows before cleaning data:  995

array(['rank', 'Youtuber', 'subscribers', 'video views', 'Category',
       'Title', 'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype=object)

In [4]:
#narrow down to only necessary columns
df_oldstats = df_oldstats.drop(columns = ['Title', 'Abbreviation', 'channel_type', 'video_views_rank', 'country_rank', 'channel_type_rank', 
                                          'video_views_for_the_last_30_days', 'lowest_monthly_earnings', 'highest_monthly_earnings', 
                                          'lowest_yearly_earnings', 'highest_yearly_earnings', 'subscribers_for_last_30_days', 'created_year', 
                                          'created_month', 'created_date', 'Gross tertiary education enrollment (%)', 
                                          'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'])

#remove rows where zero and null values are since our focus is on singular content creators and then display new number of rows
df_oldstats = df_oldstats.drop(df_oldstats[df_oldstats['video views'] == 0].index)
new_rows = len(df_oldstats.axes[0])
print("New number of rows are:", new_rows)

New number of rows are: 987

In [5]:
#drop rows to shorten data to the top 50 youtubers
df_oldstats.drop(df_oldstats.index[range(50, 987)], axis=0, inplace=True)

#reset index and drop old one
df_oldstats = df_oldstats.reset_index(drop=True)

#displaying cleaned up dataset along with narrowed down cols and rows
cols = len(df_oldstats.axes[1])
rows = len(df_oldstats.axes[0])
print("Number of columns after cleaning data: ", cols)
print("Number of rows after cleaning data: ", rows)

#set the dataframe options to suppress scientifc notation by setting float_format and then display ALL cols and rows
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#rename columns for time period
df_oldstats = df_oldstats.rename(columns = {"Youtuber":"'23 YouTubers", 
                                 "subscribers":"'23 Subs", 
                                 "video views":"Video Views", 
                                 "uploads":"Uploads", 
                                 "Population":"'23 Pop."})

df_oldstats.head(None)

Number of columns after cleaning data:  8
Number of rows after cleaning data:  50

,rank,'23 YouTubers,'23 Subs,Video Views,Category,Uploads,Country,'23 Pop.
0,1,T-Series,245000000,228000000000,Music,20082,India,1366417754
1,3,MrBeast,166000000,28368841870,Entertainment,741,United States,328239523
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,Education,966,United States,328239523
3,5,SET India,159000000,148000000000,Shows,116536,India,1366417754
4,7,Kids Diana Show,112000000,93247040539,People & Blogs,1111,United States,328239523
5,8,PewDiePie,111000000,29058044447,Gaming,4716,Japan,126226568
6,9,Like Nastya,106000000,90479060027,People & Blogs,493,Russia,144373535
7,10,Vlad and Niki,98900000,77180169894,Entertainment,574,United States,328239523
8,11,Zee Music Company,96700000,57856289381,Music,8548,India,1366417754
9,12,WWE,96000000,77428473662,Sports,70127,United States,328239523
10,14,BLACKPINK,89800000,32144597566,People & Blogs,543,South Korea,51709098
11,15,Goldmines,86900000,24118230580,Film & Animation,1,NaN,NaN
12,16,Sony SAB,83000000,101000000000,Shows,71270,India,1366417754
13,17,5-Minute Crafts,80100000,26236790209,Howto & Style,1,United Kingdom,66834405
14,18,BANGTANTV,75600000,20826993957,Music,2281,South Korea,51709098
15,20,Justin Bieber,71600000,30608119724,Music,249,Canada,36991981
16,21,HYBE LABELS,71300000,28634566938,Music,1337,South Korea,51709098
17,22,Zee TV,70500000,73139054467,Entertainment,129204,India,1366417754
18,23,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,38843229963,Education,2865,United States,328239523
19,24,Canal KondZilla,66500000,36775585925,Music,2572,Brazil,212559417
20,25,ChuChu TV Nursery Rhymes & Kids Songs,65900000,45757850229,Education,633,India,1366417754
21,26,Shemaroo Filmi Gaane,65600000,28648024439,Music,8502,India,1366417754
22,27,Colors TV,64600000,61510906457,Shows,112915,India,1366417754
23,28,T-Series Bhakti Sagar,61000000,29533230328,Music,13,India,1366417754
24,29,Dude Perfect,59500000,16241549158,Sports,389,United States,328239523
25,30,Movieclips,59500000,59316472754,Film & Animation,39113,United States,328239523
26,31,Tips Official,59300000,33431802698,Music,4741,India,1366417754
27,32,El Reino Infantil,58400000,57271630846,Music,1510,Argentina,44938712
28,33,Wave Music,58000000,40602020243,Music,19487,India,1366417754
29,34,Aaj Tak,57600000,25307753534,News & Politics,283775,India,1366417754
30,35,Sony Music India,57200000,28837144516,Music,3882,India,1366417754
31,36,EminemMusic,56900000,27073872856,Music,156,United States,328239523
32,37,Marshmello,56400000,14696003229,Entertainment,436,United States,328239523
33,38,YRF,54600000,35302243691,Film & Animation,3707,India,1366417754
34,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,32312431239,Music,11,NaN,NaN
35,40,Ed Sheeran,53500000,30367676736,Music,383,United Kingdom,66834405
36,41,Infobells - Hindi,53300000,30516172739,Education,577,India,1366417754
37,42,Taylor Swift,52900000,29884657286,Music,216,United States,328239523
38,43,Ariana Grande,52700000,24004842608,Music,147,United States,328239523
39,44,BillionSurpriseToys - Nursery Rhymes & Cartoons,52200000,9877365274,Education,847,United States,328239523
40,45,JuegaGerman,48100000,14631710289,Gaming,2052,Chile,18952038
41,46,Billie Eilish,47900000,13626331061,Music,65,United States,328239523
42,47,Get Movies,47500000,30788679536,Entertainment,3322,Russia,144373535
43,48,Shemaroo,47400000,22519705183,Entertainment,11451,India,1366417754
44,49,Badabun,46800000,19398045702,Entertainment,1,NaN,NaN
45,50,SonyMusicIndiaVEVO,46600000,27286058807,Music,3444,United States,328239523
46,51,A4,46300000,22936630813,Gaming,1,Cuba,11333483
47,52,Bad Bunny,46100000,30686342319,Music,1,NaN,NaN
48,53,Fernanfloo,46100000,10323391593,Gaming,543,El Salvador,6453553
49,54,Voot Kids,45500000,21388725229,Entertainment,4660,India,1366417754

I noticed some null values so let's take care of those:

In [6]:
#creating boolean mask to find null values based on rows
boo_mask = df_oldstats.isnull().any(axis=1)
null_rows = df_oldstats[boo_mask]
null_rows.head(None)

,rank,'23 YouTubers,'23 Subs,Video Views,Category,Uploads,Country,'23 Pop.
11,15,Goldmines,86900000,24118230580,Film & Animation,1,NaN,NaN
34,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,32312431239,Music,11,NaN,NaN
44,49,Badabun,46800000,19398045702,Entertainment,1,NaN,NaN
47,52,Bad Bunny,46100000,30686342319,Music,1,NaN,NaN

In [7]:
#researched and filled null value errors based off index and column names
df_oldstats.at[11, "Country"] = "India"
df_oldstats.at[11, "'23 Pop."] = 1366417754
df_oldstats.at[34, "Country"] = "United States"
df_oldstats.at[34, "'23 Pop."] = 328239523
df_oldstats.at[44, "Country"] = "Mexico"
df_oldstats.at[44, "'23 Pop."] = 126014024
df_oldstats.at[47, "Country"] = "Puerto Rico"
#pop. going based off mid 2023 for best accuracy of the related data
df_oldstats.at[47, "'23 Pop."] = 3260314

#now let's see if any null values still exists
df_oldstats.isnull().values.any()

False

I also noticed alarming low upload counts for youtubers so I did some research and made corrections to these values as well:

In [8]:
#researched and made corrections to youtuber upload count based off index and column name
df_oldstats.at[11, 'Uploads'] = 4817
df_oldstats.at[13, 'Uploads'] = 5481
df_oldstats.at[23, 'Uploads'] = 25981
df_oldstats.at[34, 'Uploads'] = 694
df_oldstats.at[44, 'Uploads'] = 18256
df_oldstats.at[46, 'Uploads'] = 776
df_oldstats.at[47, 'Uploads'] = 143

#display indexes to see corrections
df_oldstats.iloc[[11, 13, 23, 34, 44, 46, 47]]

,rank,'23 YouTubers,'23 Subs,Video Views,Category,Uploads,Country,'23 Pop.
11,15,Goldmines,86900000,24118230580,Film & Animation,4817,India,1366417754
13,17,5-Minute Crafts,80100000,26236790209,Howto & Style,5481,United Kingdom,66834405
23,28,T-Series Bhakti Sagar,61000000,29533230328,Music,25981,India,1366417754
34,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,32312431239,Music,694,United States,328239523
44,49,Badabun,46800000,19398045702,Entertainment,18256,Mexico,126014024
46,51,A4,46300000,22936630813,Gaming,776,Cuba,11333483
47,52,Bad Bunny,46100000,30686342319,Music,143,Puerto Rico,3260314

Now because of all these corrections we've made thus far, our ranking has gotten out of order now... let's fix that!

In [9]:
#create a new rank for the top 50 youtubers of 2023
df_oldstats["'23 Rank"] = df_oldstats['rank'].rank()

df_oldstats.head(5)

,rank,'23 YouTubers,'23 Subs,Video Views,Category,Uploads,Country,'23 Pop.,'23 Rank
0,1,T-Series,245000000,228000000000,Music,20082,India,1366417754,1
1,3,MrBeast,166000000,28368841870,Entertainment,741,United States,328239523,2
2,4,Cocomelon - Nursery Rhymes,162000000,164000000000,Education,966,United States,328239523,3
3,5,SET India,159000000,148000000000,Shows,116536,India,1366417754,4
4,7,Kids Diana Show,112000000,93247040539,People & Blogs,1111,United States,328239523,5

In [10]:
#drop old rank column and reorder new rank column
df_oldstats = df_oldstats.drop(columns = ['rank'])
df_oldstats = df_oldstats.iloc[:,[7,0,1,2,3,4,5,6]]

df_oldstats.head(None)

,'23 Rank,'23 YouTubers,'23 Subs,Video Views,Category,Uploads,Country,'23 Pop.
0,1,T-Series,245000000,228000000000,Music,20082,India,1366417754
1,2,MrBeast,166000000,28368841870,Entertainment,741,United States,328239523
2,3,Cocomelon - Nursery Rhymes,162000000,164000000000,Education,966,United States,328239523
3,4,SET India,159000000,148000000000,Shows,116536,India,1366417754
4,5,Kids Diana Show,112000000,93247040539,People & Blogs,1111,United States,328239523
5,6,PewDiePie,111000000,29058044447,Gaming,4716,Japan,126226568
6,7,Like Nastya,106000000,90479060027,People & Blogs,493,Russia,144373535
7,8,Vlad and Niki,98900000,77180169894,Entertainment,574,United States,328239523
8,9,Zee Music Company,96700000,57856289381,Music,8548,India,1366417754
9,10,WWE,96000000,77428473662,Sports,70127,United States,328239523
10,11,BLACKPINK,89800000,32144597566,People & Blogs,543,South Korea,51709098
11,12,Goldmines,86900000,24118230580,Film & Animation,4817,India,1366417754
12,13,Sony SAB,83000000,101000000000,Shows,71270,India,1366417754
13,14,5-Minute Crafts,80100000,26236790209,Howto & Style,5481,United Kingdom,66834405
14,15,BANGTANTV,75600000,20826993957,Music,2281,South Korea,51709098
15,16,Justin Bieber,71600000,30608119724,Music,249,Canada,36991981
16,17,HYBE LABELS,71300000,28634566938,Music,1337,South Korea,51709098
17,18,Zee TV,70500000,73139054467,Entertainment,129204,India,1366417754
18,19,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,38843229963,Education,2865,United States,328239523
19,20,Canal KondZilla,66500000,36775585925,Music,2572,Brazil,212559417
20,21,ChuChu TV Nursery Rhymes & Kids Songs,65900000,45757850229,Education,633,India,1366417754
21,22,Shemaroo Filmi Gaane,65600000,28648024439,Music,8502,India,1366417754
22,23,Colors TV,64600000,61510906457,Shows,112915,India,1366417754
23,24,T-Series Bhakti Sagar,61000000,29533230328,Music,25981,India,1366417754
24,25,Dude Perfect,59500000,16241549158,Sports,389,United States,328239523
25,26,Movieclips,59500000,59316472754,Film & Animation,39113,United States,328239523
26,27,Tips Official,59300000,33431802698,Music,4741,India,1366417754
27,28,El Reino Infantil,58400000,57271630846,Music,1510,Argentina,44938712
28,29,Wave Music,58000000,40602020243,Music,19487,India,1366417754
29,30,Aaj Tak,57600000,25307753534,News & Politics,283775,India,1366417754
30,31,Sony Music India,57200000,28837144516,Music,3882,India,1366417754
31,32,EminemMusic,56900000,27073872856,Music,156,United States,328239523
32,33,Marshmello,56400000,14696003229,Entertainment,436,United States,328239523
33,34,YRF,54600000,35302243691,Film & Animation,3707,India,1366417754
34,35,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,32312431239,Music,694,United States,328239523
35,36,Ed Sheeran,53500000,30367676736,Music,383,United Kingdom,66834405
36,37,Infobells - Hindi,53300000,30516172739,Education,577,India,1366417754
37,38,Taylor Swift,52900000,29884657286,Music,216,United States,328239523
38,39,Ariana Grande,52700000,24004842608,Music,147,United States,328239523
39,40,BillionSurpriseToys - Nursery Rhymes & Cartoons,52200000,9877365274,Education,847,United States,328239523
40,41,JuegaGerman,48100000,14631710289,Gaming,2052,Chile,18952038
41,42,Billie Eilish,47900000,13626331061,Music,65,United States,328239523
42,43,Get Movies,47500000,30788679536,Entertainment,3322,Russia,144373535
43,44,Shemaroo,47400000,22519705183,Entertainment,11451,India,1366417754
44,45,Badabun,46800000,19398045702,Entertainment,18256,Mexico,126014024
45,46,SonyMusicIndiaVEVO,46600000,27286058807,Music,3444,United States,328239523
46,47,A4,46300000,22936630813,Gaming,776,Cuba,11333483
47,48,Bad Bunny,46100000,30686342319,Music,143,Puerto Rico,3260314
48,49,Fernanfloo,46100000,10323391593,Gaming,543,El Salvador,6453553
49,50,Voot Kids,45500000,21388725229,Entertainment,4660,India,1366417754

In [11]:
#now create a new csv with the cleaned dataframe!!!