To clean this dataset, let's import the python libraries we'll be using:

In [1]:
import pandas as pd
import pandasql as ps
import numpy

C:\Users\emmet\AppData\Local\Temp\ipykernel_4784\2000185122.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Next, we'll read in the second csv file. We'll call this dataframe 'df_newstats' since it contains the data on the most recent trending YouTubers:

In [2]:
df_newstats = pd.read_csv('datadump/Youtubers.csv')

df_newstats.head()

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,United States,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN

I already see we have some null values we'll have to take care of, but let's get an overview on the number of columns and rows before cleaning the data:

In [3]:
cols = len(df_newstats.axes[1])
rows = len(df_newstats.axes[0])
print("Number of columns before cleaning data: ", cols)
print("Number of rows before cleaning data: ", rows)

Number of columns before cleaning data:  9
Number of rows before cleaning data:  1046

In [4]:
#start the data cleaning by deleting the first null value row
df_newstats.drop(df_newstats.index[0], axis=0, inplace=True)

#then reducing our data to the top 50 Youtubers. Since we dropped that first null row, we now only have 1045 rows:
df_newstats.drop(df_newstats.index[range(50, 1045)], axis=0, inplace=True)

#resetting default index after removing first row,
#then setting the dataframe options to display ALL cols and rows.
df_newstats.reset_index(inplace = True, drop = True)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#now let's drop repeat columns we won't need when combining both tables to make comparisons
df_newstats = df_newstats.drop(columns = ['Category', 'Country', 'Content Type'])

#let's display the column names that are left in the dataset now
df_newstats.columns.values

array(['Rank', 'Channel Name', 'Subscribers', 'Average Views',
       'Average Likes', 'Average Comments'], dtype=object)

In [5]:
#let's go ahead and rename the columns for this time period
df_newstats = df_newstats.rename(columns = {"Channel Name":"'24 YouTubers",
                                            "Subscribers":"'24 Subs", 
                                            "Average Views":"'24 Avg. Views",
                                            "Average Likes":"'24 Avg. Likes",
                                            "Average Comments":"'24 Avg. Comments"})
#now let's see what we're working with
df_newstats.head(None)

,Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments
0,1.0,T-Series,258.4M,135.2K,5.6K,223
1,2.0,MrBeast,236.1M,104M,4M,74K
2,3.0,Cocomelon - Nursery Rhymes,171.4M,5.1M,57.1K,0
3,4.0,SET India,167.1M,27.9K,996,7
4,5.0,✿ Kids Diana Show,118.5M,5.1M,14.3K,0
5,6.0,Like Nastya,112.6M,3.4M,45.9K,0
6,7.0,PewDiePie,111.6M,1.7M,109.2K,3.1K
7,8.0,Vlad and Niki,109.6M,5.8M,42.7K,0
8,9.0,Zee Music Company,104.5M,38K,1.6K,26
9,10.0,WWE,99M,182.9K,6.8K,227
10,11.0,Goldmines,94M,34.6K,518,13
11,12.0,Sony SAB,89.1M,30.6K,789,10
12,13.0,5-Minute Crafts,80.6M,137.6K,632,33
13,14.0,BANGTANTV,77.4M,688.2K,129.1K,3K
14,15.0,Zee TV,77M,8.2K,295,1
15,16.0,HYBE LABELS,73.9M,118.1K,21.6K,215
16,17.0,Pinkfong Baby Shark - Kids' Songs & Stories,72.5M,637.6K,713,0
17,18.0,Colors TV,70.2M,17.6K,632,3
18,19.0,ChuChu TV Nursery Rhymes & Kids Songs,69.8M,762.2K,15.5K,0
19,20.0,Shemaroo Filmi Gaane,67.4M,29.3K,298,15
20,21.0,Canal KondZilla,67M,23K,1K,13
21,22.0,T-Series Bhakti Sagar,65.8M,20.1K,1.2K,26
22,23.0,Tips Official,63.5M,41.7K,800,20
23,24.0,El Reino Infantil,62.4M,720.8K,3K,0
24,25.0,Aaj Tak,61.9M,13.9K,399,6
25,26.0,Movieclips,60.7M,13.8K,212,11
26,27.0,Wave Music,60.5M,32.8K,746,59
27,28.0,Dude Perfect,60M,4.8M,134.5K,893
28,29.0,Sony Music India,59.3M,16.1K,607,21
29,30.0,Infobells - Hindi,59.1M,1.3M,3.8K,0
30,31.0,EminemMusic,58.9M,1.2M,84K,7.4K
31,32.0,YRF,58.3M,62.7K,3.4K,35
32,33.0,Marshmello,56.9M,88.2K,7.1K,137
33,34.0,LooLoo Kids - Nursery Rhymes and Children's Songs,56.1M,237.4K,773,0
34,35.0,BillionSurpriseToys - Nursery Rhymes & Cartoons,55.2M,82.8K,0,0
35,36.0,Ariana Grande,53.5M,310.7K,40.4K,1.5K
36,37.0,Shemaroo,51.4M,9.7K,84,5
37,38.0,Toys and Colors,51.1M,4.8M,2.8K,0
38,39.0,ARY Digital HD,50.5M,21.9K,722,4
39,40.0,A4,50.5M,7.9M,337.9K,27K
40,41.0,HAR PAL GEO,50.1M,6.7K,61,2
41,42.0,Get Movies,49.4M,56.6K,219,0
42,43.0,JuegaGerman,49.2M,1.5M,96.5K,4.8K
43,44.0,Billie Eilish,49.1M,363.1K,30.2K,418
44,45.0,SonyMusicIndiaVEVO,49M,9.4K,134,9
45,46.0,Mikecrack,47.4M,785.6K,73.5K,1.7K
46,47.0,Badabun,47.3M,6.8K,276,3
47,48.0,Voot Kids,47.2M,41.5K,169,0
48,49.0,ABS-CBN Entertainment,46.7M,2.5K,56,1
49,50.0,Маша и Медведь,46.5M,1.4M,11.7K,0

After comparing our values to the other dataset and doing some research, I realized **BLACKPINK**, **Justin Bieber**, **Ed Sheeran**, and **Taylor Swift** were missing by mistake. <br> As a ***swifty*** would say, "*I don't know about you, but I'm feeling data, too!*" <br> Or as a ***sheeraner*** would say, "*I'm in love with the shape of data!*" <br> Or as a ***blinker*** would say, "*Let's kill this dataset!*" <br> Or as a ***belieber*** would say, "*Is it too late now to save data?*" <br> Now that I've had my fun, let's add them back to this dataset!

In [6]:
#adding new rows of missing youtubers and their values to the bottom of the dataset
df_newstats.loc[len(df_newstats)] = {"Rank": 12, 
                                     "'24 YouTubers" : "BLACKPINK", 
                                     "'24 Subs" : "93.2M", 
                                     "'24 Avg. Views" : "1.9M",
                                     "'24 Avg. Likes" : "439.2K", 
                                     "'24 Avg. Comments" : "16.7K"}
df_newstats.loc[len(df_newstats)] = {"Rank": 18, 
                                     "'24 YouTubers" : "Justin Bieber", 
                                     "'24 Subs" : "72.6M", 
                                     "'24 Avg. Views" : "596K",
                                     "'24 Avg. Likes" : "211.2K", 
                                     "'24 Avg. Comments" : "7.4K"}
df_newstats.loc[len(df_newstats)] = {"Rank": 36, 
                                     "'24 YouTubers" : "Taylor Swift", 
                                     "'24 Subs" : "56.6M", 
                                     "'24 Avg. Views" : "2.3M",
                                     "'24 Avg. Likes" : "188.5K", 
                                     "'24 Avg. Comments" : "6K"}
df_newstats.loc[len(df_newstats)] = {"Rank": 39, 
                                     "'24 YouTubers" : "Ed Sheeran", 
                                     "'24 Subs" : "54.3M", 
                                     "'24 Avg. Views" : "278.5K",
                                     "'24 Avg. Likes" : "15.5K", 
                                     "'24 Avg. Comments" : "364"}

In [7]:
df_newstats.tail(4)

,Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments
50,12.0,BLACKPINK,93.2M,1.9M,439.2K,16.7K
51,18.0,Justin Bieber,72.6M,596K,211.2K,7.4K
52,36.0,Taylor Swift,56.6M,2.3M,188.5K,6K
53,39.0,Ed Sheeran,54.3M,278.5K,15.5K,364

Now we'll have to go through and repeat some steps since we've added the missing top youtubers to this dataset. First, we'll need to convert our millions (M) and thousands (K) to usable integers for the sort. Second, we'll sort the YouTubers based on their subscribers count. Then, create a new ranking column and drop the old one along with renaming the columns. Finally, we'll drop the remaining four youtubers who didn't make the top 50 cut! Let's get to it!

In [8]:
#create a def of converter to replace 'K' and 'M' values
def converter(x):
    if "K" in x:
        return f"{(float(x.strip("K"))*1000):.0f}"
    elif "M" in x:
        return f"{(float(x.strip("M"))*1000000):.0f}"
    elif not x == "K":
        return x
    elif not x == "M":
        return x
        
#then create a dictionary of columns to convert
convr_cols = ["'24 Subs", "'24 Avg. Views", "'24 Avg. Likes", "'24 Avg. Comments"]

#then create a for loop adding the dictionary and applying the defined converter
for column in convr_cols:
    df_newstats[column] = df_newstats[column].apply(converter)

df_newstats.head()

,Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments
0,1.0,T-Series,258400000,135200,5600,223
1,2.0,MrBeast,236100000,104000000,4000000,74000
2,3.0,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0
3,4.0,SET India,167100000,27900,996,7
4,5.0,✿ Kids Diana Show,118500000,5100000,14300,0

Looks like we'll need to sort our top YouTubers based on their subscriber count:

In [9]:
#let's go ahead and make sure all of our number columns are converted to integers before trying to sort any
df_newstats[["'24 Subs", "'24 Avg. Views", "'24 Avg. Likes", "'24 Avg. Comments"]] = df_newstats[["'24 Subs", "'24 Avg. Views", "'24 Avg. Likes", "'24 Avg. Comments"]].apply(pd.to_numeric)

#sort the 2024 YouTubers based on our new additions!
df_newstats = df_newstats.sort_values("'24 Subs", ascending=False)

df_newstats.head(20)

,Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments
0,1.0,T-Series,258400000,135200,5600,223
1,2.0,MrBeast,236100000,104000000,4000000,74000
2,3.0,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0
3,4.0,SET India,167100000,27900,996,7
4,5.0,✿ Kids Diana Show,118500000,5100000,14300,0
5,6.0,Like Nastya,112600000,3400000,45900,0
6,7.0,PewDiePie,111600000,1700000,109200,3100
7,8.0,Vlad and Niki,109600000,5800000,42700,0
8,9.0,Zee Music Company,104500000,38000,1600,26
9,10.0,WWE,99000000,182900,6800,227
10,11.0,Goldmines,94000000,34600,518,13
50,12.0,BLACKPINK,93200000,1900000,439200,16700
11,12.0,Sony SAB,89100000,30600,789,10
12,13.0,5-Minute Crafts,80600000,137600,632,33
13,14.0,BANGTANTV,77400000,688200,129100,3000
14,15.0,Zee TV,77000000,8200,295,1
15,16.0,HYBE LABELS,73900000,118100,21600,215
51,18.0,Justin Bieber,72600000,596000,211200,7400
16,17.0,Pinkfong Baby Shark - Kids' Songs & Stories,72500000,637600,713,0
17,18.0,Colors TV,70200000,17600,632,3

Now we'll create an updated ranking of our top 50 YouTubers for 2024:

In [10]:
#reset index again and drop old one
df_newstats = df_newstats.reset_index(drop=True)

#create the new 2024 ranking and convert decimals to integers
df_newstats["'24 Rank"] = df_newstats["'24 Subs"].rank(method='first', ascending=False)
df_newstats["'24 Rank"] = df_newstats["'24 Rank"].astype(int)

df_newstats.head(5)

,Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments,'24 Rank
0,1.0,T-Series,258400000,135200,5600,223,1
1,2.0,MrBeast,236100000,104000000,4000000,74000,2
2,3.0,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0,3
3,4.0,SET India,167100000,27900,996,7,4
4,5.0,✿ Kids Diana Show,118500000,5100000,14300,0,5

In [11]:
#drop the old rank column and reorder with the new rank column based on indexes
df_newstats = df_newstats.drop(columns = ["Rank"])
df_newstats = df_newstats.iloc[:,[5,0,1,2,3,4,]]

#drop rows to shorten data to the top 50 youtubers using a range
df_newstats.drop(df_newstats.index[range(50, 54)], axis=0, inplace=True)

df_newstats.head(None)

,'24 Rank,'24 YouTubers,'24 Subs,'24 Avg. Views,'24 Avg. Likes,'24 Avg. Comments
0,1,T-Series,258400000,135200,5600,223
1,2,MrBeast,236100000,104000000,4000000,74000
2,3,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0
3,4,SET India,167100000,27900,996,7
4,5,✿ Kids Diana Show,118500000,5100000,14300,0
5,6,Like Nastya,112600000,3400000,45900,0
6,7,PewDiePie,111600000,1700000,109200,3100
7,8,Vlad and Niki,109600000,5800000,42700,0
8,9,Zee Music Company,104500000,38000,1600,26
9,10,WWE,99000000,182900,6800,227
10,11,Goldmines,94000000,34600,518,13
11,12,BLACKPINK,93200000,1900000,439200,16700
12,13,Sony SAB,89100000,30600,789,10
13,14,5-Minute Crafts,80600000,137600,632,33
14,15,BANGTANTV,77400000,688200,129100,3000
15,16,Zee TV,77000000,8200,295,1
16,17,HYBE LABELS,73900000,118100,21600,215
17,18,Justin Bieber,72600000,596000,211200,7400
18,19,Pinkfong Baby Shark - Kids' Songs & Stories,72500000,637600,713,0
19,20,Colors TV,70200000,17600,632,3
20,21,ChuChu TV Nursery Rhymes & Kids Songs,69800000,762200,15500,0
21,22,Shemaroo Filmi Gaane,67400000,29300,298,15
22,23,Canal KondZilla,67000000,23000,1000,13
23,24,T-Series Bhakti Sagar,65800000,20100,1200,26
24,25,Tips Official,63500000,41700,800,20
25,26,El Reino Infantil,62400000,720800,3000,0
26,27,Aaj Tak,61900000,13900,399,6
27,28,Movieclips,60700000,13800,212,11
28,29,Wave Music,60500000,32800,746,59
29,30,Dude Perfect,60000000,4800000,134500,893
30,31,Sony Music India,59300000,16100,607,21
31,32,Infobells - Hindi,59100000,1300000,3800,0
32,33,EminemMusic,58900000,1200000,84000,7400
33,34,YRF,58300000,62700,3400,35
34,35,Marshmello,56900000,88200,7100,137
35,36,Taylor Swift,56600000,2300000,188500,6000
36,37,LooLoo Kids - Nursery Rhymes and Children's Songs,56100000,237400,773,0
37,38,BillionSurpriseToys - Nursery Rhymes & Cartoons,55200000,82800,0,0
38,39,Ed Sheeran,54300000,278500,15500,364
39,40,Ariana Grande,53500000,310700,40400,1500
40,41,Shemaroo,51400000,9700,84,5
41,42,Toys and Colors,51100000,4800000,2800,0
42,43,A4,50500000,7900000,337900,27000
43,44,ARY Digital HD,50500000,21900,722,4
44,45,HAR PAL GEO,50100000,6700,61,2
45,46,Get Movies,49400000,56600,219,0
46,47,JuegaGerman,49200000,1500000,96500,4800
47,48,Billie Eilish,49100000,363100,30200,418
48,49,SonyMusicIndiaVEVO,49000000,9400,134,9
49,50,Mikecrack,47400000,785600,73500,1700

In [12]:
#now create a new csv with the cleaned dataframe!!!