## Import python libraries:

Let's import the python libraries we pip installed one last time.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Now we've cleaned both of our datasets by dropping unnecessary columns and/or rows, renaming columns, deleting and/or correcting null values, converting data types, updating incorrect values, reimplementing missing YouTubers, and ranking YouTubers in order of subscriber count (descending). <br> With the majority of the data cleaning out of the way, we can now read in both csv files.

## Read in both csv files:

In [2]:
df_oldstats = pd.read_csv('cleaned_data/oldstats.csv')
df_newstats = pd.read_csv('cleaned_data/newstats.csv')

df_oldstats.head()

,23_rank,23_youtubers,23_subs,23_uploads,23_video_views,23_category,23_country,23_pop
0,1,T-Series,245000000,20082,228000000000,Music & Dance,India,1366417754
1,2,MrBeast,166000000,741,28368841870,Entertainment,United States,328239523
2,3,Cocomelon - Nursery Rhymes,162000000,966,164000000000,Educational,United States,328239523
3,4,SET India,159000000,116536,148000000000,Film & Animation,India,1366417754
4,5,Kids Diana Show,112000000,1111,93247040539,Educational,United States,328239523

In [3]:
df_newstats.head()

,24_rank,24_youtubers,24_subs,24_avg_views,24_avg_likes,24_avg_comments,24_category,24_country
0,1,T-Series,258400000,135200,5600,223,Music & Dance,India
1,2,MrBeast,236100000,104000000,4000000,74000,Entertainment,United States
2,3,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0,Educational,United States
3,4,SET India,167100000,27900,996,7,Film & Animation,India
4,5,✿ Kids Diana Show,118500000,5100000,14300,0,Educational,United States

#### Everything looks as it should so far! 
##### Let's set the dataframe options in Pandas to display ALL cols and rows using 'None':

In [4]:
#setting dataframe options to display ALL cols and rows
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df_oldstats.head(None)

,23_rank,23_youtubers,23_subs,23_uploads,23_video_views,23_category,23_country,23_pop
0,1,T-Series,245000000,20082,228000000000,Music & Dance,India,1366417754
1,2,MrBeast,166000000,741,28368841870,Entertainment,United States,328239523
2,3,Cocomelon - Nursery Rhymes,162000000,966,164000000000,Educational,United States,328239523
3,4,SET India,159000000,116536,148000000000,Film & Animation,India,1366417754
4,5,Kids Diana Show,112000000,1111,93247040539,Educational,United States,328239523
5,6,PewDiePie,111000000,4716,29058044447,Entertainment,Japan,126226568
6,7,Like Nastya,106000000,493,90479060027,Educational,Russia,144373535
7,8,Vlad and Niki,98900000,574,77180169894,Educational,United States,328239523
8,9,Zee Music Company,96700000,8548,57856289381,Music & Dance,India,1366417754
9,10,WWE,96000000,70127,77428473662,Sports,United States,328239523
10,11,BLACKPINK,89800000,543,32144597566,Music & Dance,South Korea,51709098
11,12,Goldmines,86900000,4817,24118230580,Film & Animation,India,1366417754
12,13,Sony SAB,83000000,71270,101000000000,Film & Animation,India,1366417754
13,14,5-Minute Crafts,80100000,5481,26236790209,DIY & Tutorials,United States,66834405
14,15,BANGTANTV,75600000,2281,20826993957,Music & Dance,South Korea,51709098
15,16,Justin Bieber,71600000,249,30608119724,Music & Dance,Canada,36991981
16,17,HYBE LABELS,71300000,1337,28634566938,Music & Dance,South Korea,51709098
17,18,Zee TV,70500000,129204,73139054467,Film & Animation,India,1366417754
18,19,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,2865,38843229963,Educational,United States,328239523
19,20,Canal KondZilla,66500000,2572,36775585925,Music & Dance,Brazil,212559417
20,21,ChuChu TV Nursery Rhymes & Kids Songs,65900000,633,45757850229,Educational,India,1366417754
21,22,Shemaroo Filmi Gaane,65600000,8502,28648024439,Music & Dance,India,1366417754
22,23,Colors TV,64600000,112915,61510906457,Film & Animation,India,1366417754
23,24,T-Series Bhakti Sagar,61000000,25981,29533230328,Music & Dance,India,1366417754
24,25,Dude Perfect,59500000,389,16241549158,Sports,United States,328239523
25,26,Movieclips,59500000,39113,59316472754,Film & Animation,United States,328239523
26,27,Tips Official,59300000,4741,33431802698,Music & Dance,India,1366417754
27,28,El Reino Infantil,58400000,1510,57271630846,Educational,Argentina,44938712
28,29,Wave Music,58000000,19487,40602020243,Music & Dance,India,1366417754
29,30,Aaj Tak,57600000,283775,25307753534,News & Politics,India,1366417754
30,31,Sony Music India,57200000,3882,28837144516,Music & Dance,India,1366417754
31,32,EminemMusic,56900000,156,27073872856,Music & Dance,United States,328239523
32,33,Marshmello,56400000,436,14696003229,Music & Dance,United States,328239523
33,34,YRF,54600000,3707,35302243691,Music & Dance,India,1366417754
34,35,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,694,32312431239,Educational,United States,328239523
35,36,Ed Sheeran,53500000,383,30367676736,Music & Dance,United Kingdom,66834405
36,37,Infobells - Hindi,53300000,577,30516172739,Educational,India,1366417754
37,38,Taylor Swift,52900000,216,29884657286,Music & Dance,United States,328239523
38,39,Ariana Grande,52700000,147,24004842608,Music & Dance,United States,328239523
39,40,BillionSurpriseToys - Nursery Rhymes & Cartoons,52200000,847,9877365274,Educational,United States,328239523
40,41,JuegaGerman,48100000,2052,14631710289,Gaming,Chile,18952038
41,42,Billie Eilish,47900000,65,13626331061,Music & Dance,United States,328239523
42,43,Get Movies,47500000,3322,30788679536,Film & Animation,Russia,144373535
43,44,Shemaroo,47400000,11451,22519705183,Film & Animation,India,1366417754
44,45,Badabun,46800000,18256,19398045702,Entertainment,Mexico,128455567
45,46,SonyMusicIndiaVEVO,46600000,3444,27286058807,Music & Dance,India,328239523
46,47,A4,46300000,776,22936630813,Entertainment,Belarus,9498238
47,48,Bad Bunny,46100000,143,30686342319,Music & Dance,Puerto Rico,3260314
48,49,Fernanfloo,46100000,543,10323391593,Gaming,El Salvador,6453553
49,50,Voot Kids,45500000,4660,21388725229,Educational,India,1366417754

##### Looking over the 2023 dataset, all appears to be accurate!

In [5]:
df_newstats.head(None)

,24_rank,24_youtubers,24_subs,24_avg_views,24_avg_likes,24_avg_comments,24_category,24_country
0,1,T-Series,258400000,135200,5600,223,Music & Dance,India
1,2,MrBeast,236100000,104000000,4000000,74000,Entertainment,United States
2,3,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0,Educational,United States
3,4,SET India,167100000,27900,996,7,Film & Animation,India
4,5,✿ Kids Diana Show,118500000,5100000,14300,0,Educational,United States
5,6,Like Nastya,112600000,3400000,45900,0,Educational,Russia
6,7,PewDiePie,111600000,1700000,109200,3100,Entertainment,Japan
7,8,Vlad and Niki,109600000,5800000,42700,0,Educational,United States
8,9,Zee Music Company,104500000,38000,1600,26,Music & Dance,India
9,10,WWE,99000000,182900,6800,227,Sports,United States
10,11,Goldmines,94000000,34600,518,13,Film & Animation,India
11,12,BLACKPINK,93200000,1900000,439200,16700,Music & Dance,South Korea
12,13,Sony SAB,89100000,30600,789,10,Film & Animation,India
13,14,5-Minute Crafts,80600000,137600,632,33,DIY & Tutorials,United States
14,15,BANGTANTV,77400000,688200,129100,3000,Music & Dance,South Korea
15,16,Zee TV,77000000,8200,295,1,Film & Animation,India
16,17,HYBE LABELS,73900000,118100,21600,215,Music & Dance,South Korea
17,18,Justin Bieber,72600000,596000,211200,7400,Music & Dance,Canada
18,19,Pinkfong Baby Shark - Kids' Songs & Stories,72500000,637600,713,0,Educational,United States
19,20,Colors TV,70200000,17600,632,3,Film & Animation,India
20,21,ChuChu TV Nursery Rhymes & Kids Songs,69800000,762200,15500,0,Educational,India
21,22,Shemaroo Filmi Gaane,67400000,29300,298,15,Music & Dance,India
22,23,Canal KondZilla,67000000,23000,1000,13,Music & Dance,Brazil
23,24,T-Series Bhakti Sagar,65800000,20100,1200,26,Music & Dance,India
24,25,Tips Official,63500000,41700,800,20,Music & Dance,India
25,26,El Reino Infantil,62400000,720800,3000,0,Educational,Argentina
26,27,Aaj Tak,61900000,13900,399,6,News & Politics,India
27,28,Movieclips,60700000,13800,212,11,Film & Animation,United States
28,29,Wave Music,60500000,32800,746,59,Music & Dance,India
29,30,Dude Perfect,60000000,4800000,134500,893,Sports,United States
30,31,Sony Music India,59300000,16100,607,21,Music & Dance,India
31,32,Infobells - Hindi,59100000,1300000,3800,0,Educational,India
32,33,EminemMusic,58900000,1200000,84000,7400,Music & Dance,United States
33,34,YRF,58300000,62700,3400,35,Music & Dance,India
34,35,Marshmello,56900000,88200,7100,137,Music & Dance,United States
35,36,Taylor Swift,56600000,2300000,188500,6000,Music & Dance,United States
36,37,LooLoo Kids - Nursery Rhymes and Children's Songs,56100000,237400,773,0,Educational,United States
37,38,BillionSurpriseToys - Nursery Rhymes & Cartoons,55200000,82800,0,0,Educational,United States
38,39,Ed Sheeran,54300000,278500,15500,364,Music & Dance,United Kingdom
39,40,Ariana Grande,53500000,310700,40400,1500,Music & Dance,United States
40,41,Shemaroo,51400000,9700,84,5,Film & Animation,India
41,42,Toys and Colors,51100000,4800000,2800,0,Educational,United States
42,43,A4,50500000,7900000,337900,27000,Entertainment,Belarus
43,44,ARY Digital HD,50500000,21900,722,4,Film & Animation,Pakistan
44,45,HAR PAL GEO,50100000,6700,61,2,Film & Animation,Pakistan
45,46,Get Movies,49400000,56600,219,0,Film & Animation,Russia
46,47,JuegaGerman,49200000,1500000,96500,4800,Gaming,Chile
47,48,Billie Eilish,49100000,363100,30200,418,Music & Dance,United States
48,49,SonyMusicIndiaVEVO,49000000,9400,134,9,Music & Dance,India
49,50,Mikecrack,47400000,785600,73500,1700,Gaming,Spain

##### Looking over the 2024 dataset, it also appears to be accurate!

## Merging the datasets:

In [6]:
#we'll use concatenate since we don't have a key column to join off of
df_combined = pd.concat([df_oldstats, df_newstats], axis=1)
df_combined.head(5)

,23_rank,23_youtubers,23_subs,23_uploads,23_video_views,23_category,23_country,23_pop,24_rank,24_youtubers,24_subs,24_avg_views,24_avg_likes,24_avg_comments,24_category,24_country
0,1,T-Series,245000000,20082,228000000000,Music & Dance,India,1366417754,1,T-Series,258400000,135200,5600,223,Music & Dance,India
1,2,MrBeast,166000000,741,28368841870,Entertainment,United States,328239523,2,MrBeast,236100000,104000000,4000000,74000,Entertainment,United States
2,3,Cocomelon - Nursery Rhymes,162000000,966,164000000000,Educational,United States,328239523,3,Cocomelon - Nursery Rhymes,171400000,5100000,57100,0,Educational,United States
3,4,SET India,159000000,116536,148000000000,Film & Animation,India,1366417754,4,SET India,167100000,27900,996,7,Film & Animation,India
4,5,Kids Diana Show,112000000,1111,93247040539,Educational,United States,328239523,5,✿ Kids Diana Show,118500000,5100000,14300,0,Educational,United States

## Create new csv of merged datasets:

This csv will be the one used in Tableau for more visuals.

In [7]:
#commented out the code below to avoid creating another comb_stats csv file
#df_combined.to_csv('comb_dataset/comb_stats.csv', index=False)

## Finding Insights:

Now that we got these datasets combined, let's break down on how we can get the total number of YouTubers for each country in this timeline.

In [8]:
#let's combine the YouTuber and country columns for each pair ('23 YouTuber/'23 Country and '24 YouTuber/'24 Country)
df_combined['Pair_1'] = df_combined["23_youtubers"] + '_' + df_combined["23_country"]
df_combined['Pair_2'] = df_combined["24_youtubers"] + '_' + df_combined["24_country"]

#stack pairs and count the occurrences of YouTubers in countries
combined_pairs = pd.concat([df_combined['Pair_1'], df_combined['Pair_2']])
country_counts = combined_pairs.value_counts().reset_index()
country_counts.columns = ['country_youtuber_pair', 'count']

#now we'll split the combined pairs back into YouTuber and country
country_counts[['youtuber', 'country']] = country_counts['country_youtuber_pair'].str.split('_', expand=True)

#count the distinct number of times all YouTubers are associated with each country
distinct_country_counts = country_counts.groupby('country')['youtuber'].nunique().reset_index()
distinct_country_counts.columns = ['country', 'distinct_youtuber_count']

#sort the dataframe in descending order based on the distinct count of associated YouTubers and then by country for alphabetical order
distinct_country_counts_sorted = distinct_country_counts.sort_values(by=['distinct_youtuber_count', 'country'], ascending=[False, True])

#display our results
distinct_country_counts_sorted

           country  distinct_youtuber_count
6            India                       19
15   United States                       18
12     South Korea                        3
9         Pakistan                        2
11          Russia                        2
0        Argentina                        1
1          Belarus                        1
2           Brazil                        1
3           Canada                        1
4            Chile                        1
5      El Salvador                        1
7            Japan                        1
8           Mexico                        1
10     Puerto Rico                        1
13           Spain                        1
14  United Kingdom                        1

Here we can see that India had the most YouTubers overall. Let's dig a little deeper and see why that may be.

In [9]:
#finding the index of the row with the maximum population
max_pop_id = df_combined["23_pop"].idxmax()

#accessing the country with the highest population
high_pop_ctry = df_combined.loc[max_pop_id, "23_country"]
ctry_pop = df_combined.loc[max_pop_id, "23_pop"]

#display our results
print("The country with the highest population is:", high_pop_ctry)
print("Population:", ctry_pop)

The country with the highest population is: India
Population: 1366417754

Ah, so it turns out India has the highest population in our dataframe. It would make sense then that the majority of YouTubers came from the highest populated country in this dataset.

## Create new dataframe with dropped cols:

Let's create a grouped bar chart showcasing our top 50 YouTubers and their subscriber total for the half year period so we can find some interesting estimations.

In [10]:
#this dataframe will cover our subscriber rankings across 2023 to 2024
#df_subs_comb = df_combined.drop(columns = ["23_rank", 
                                           "23_uploads", 
                                           "23_video_views", 
                                           "23_category", 
                                           "23_country", 
                                           "23_pop", 
                                           "24_rank",
                                           "24_avg_views", 
                                           "24_avg_likes", 
                                           "24_avg_comments", 
                                           "24_category", 
                                           "24_country", 
                                           "pair_1", 
                                           "pair_2"])
#df_subs_comb.head(5)

IndentationError: unexpected indent (1988901537.py, line 3)

## Visualizations:

#### We'll use a multi bar plot to visualize how the subscriber count has changed between '23 and '24 for the top YouTubers:

In [ ]:
#defining the data
labels = df_subs_comb["23_youtubers"]
subs_23 = df_subs_comb["23_subs"]
subs_24 = df_subs_comb["24_subs"]

#setting the width of the bars and the label locations
x = np.arange(len(labels))
width = 0.35

#adjusting the figsize as needed
fig, ax = plt.subplots(figsize=(15, 6))
rects1 = ax.bar(x - width/2, subs_23, width, label="23_subs")
rects2 = ax.bar(x + width/2, subs_24, width, label="24_subs")

#adding the text for labels, title, and custom x-axis tick labels, etc.
ax.set_xlabel("YouTubers")
ax.set_ylabel("Subscribers (Millions)")
ax.set_title("Subscribers by YouTubers (2023 vs 2024)")
ax.set_xticks(x)
ax.set_xticklabels(labels, rotation=90)
ax.legend()

#removed scientific notation from y-axis
plt.ticklabel_format(style='plain', axis='y')

#tight_layout method resizes the subplots so they don't overlap one another
plt.tight_layout()

plt.show()

From this, we can see that MrBeast gained the most subscribers between July 2023 to January 2024, but we're unable to tell the exact amount gained. Let's create a calculation to display the exact number of subscribers each YouTuber gained in the half year period and sort them in descending order.

In [ ]:
#define the function
def diff(a, b): 
    return b - a 

#create the new column by taking both subscriber columns as arguments and then using the apply method to apply it to all the values throught the column
df_subs_comb['Total_Subs_Gained'] = df_subs_comb.apply( 
    lambda x: diff(x["23_subs"], x["24_subs"]), axis=1)

#sorting the new column by using the .sort_values method
total_subs_sort = df_subs_comb.sort_values(by=["total_subs_gained"], ascending=False)

total_subs_sort.head(None)

The calculation above under the, "total_subs_gained" column shows us that MrBeast stood out by adding on an estimated total of 70,100,000 subscribers from then to now! <br> Check out the most watched MrBeast video below to see how popular his videos are:

In [ ]:
%%HTML
<iframe width="414" height="250"
 src="https://www.youtube.com/embed/0e3GPea1Tyg"
</iframe>

The least subscriber difference among all repeat YouTubers in this half year period was 5-minute Crafts, gaining only an estimated total of 500,000 subscribers (which is, nonetheless, still impressive). <br> Check out the video below to view an example of what 5-minute Crafts is all about:

In [ ]:
%%HTML
<iframe width="414" height="250"
 src="https://www.youtube.com/embed/Ez6Yrnh4w6k"
</iframe>

Below, I created a trimmed display of the original grouped bar chart. Both bar charts display a decently steady trend (excluding MrBeast and 5-minute Crafts) on the top YouTubers increasing their subscriber count from 2023 to 2024.

#### Showcasing the top 15 YouTubers for a better close-up:

In [ ]:
df_subs_comb = df_subs_comb.head(15)

#defining the data
labels = df_subs_comb["23_youtubers"]
subs_23 = df_subs_comb["23_subs"]
subs_24 = df_subs_comb["24_subs"]

#setting the width of the bars and the label locations
width = 0.35
x = np.arange(len(labels)) 

#adjusting the figsize as needed
fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, subs_23, width, label="23_subs")
rects2 = ax.bar(x + width/2, subs_24, width, label="24_subs")

#adding the text for labels, title, and custom x-axis tick labels, etc.
ax.set_xlabel("YouTubers")
ax.set_ylabel("Subscribers (Millions)")
ax.set_title("Subscribers by YouTubers (2023 vs 2024)")
ax.set_xticks(x)
ax.set_xticklabels(labels, rotation=90)
ax.legend()

#removed scientific notation from y-axis
plt.ticklabel_format(style='plain', axis='y')

#resizes the subplots so they don't overlap one another
plt.tight_layout()

plt.show()

### Some visualizations were created in Tableau. Reference the README section for the url link, "YouTuber Visuals". <br> Or click [here](https://public.tableau.com/app/profile/emmett.blair/viz/YouTuberVisuals/YouTuberVisuals?publish=yes).